{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Jason's Animal Crossing Community Project</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis dolor quis est scelerisque ultrices.
        Duis ullamcorper finibus mi, vel condimentum lacus varius non. Vivamus et ullamcorper enim. Vestibulum eleifend
        et magna eget commodo. Nam id felis et purus bibendum posuere sit amet ut ante. Ut ut metus tristique, tempor
        enim eget, sodales neque. Cras eu urna quis neque bibendum pharetra. Duis tincidunt, leo vel pharetra finibus,
        diam ante malesuada arcu, vel rhoncus lacus erat id risus. Sed commodo nunc arcu, vitae ullamcorper enim
        consectetur eu. Nam dapibus pretium eros id pretium.</p>
    <br>
    <p>Ut gravida nisi nisi, vitae tempus neque rutrum sed. Pellentesque ullamcorper turpis malesuada ornare aliquam.
        Cras commodo vitae nulla quis semper. Nulla pretium, diam sed porttitor lacinia, odio eros porttitor neque, et
        iaculis turpis felis sed lorem. Vivamus diam massa, semper ut massa dignissim, mattis elementum justo.
        Pellentesque dictum augue dui, ac interdum ante varius sit amet. Praesent est urna, consectetur vel quam non,
        pretium facilisis turpis. Donec vitae mauris at libero lobortis porttitor eu et augue. Etiam arcu tellus,
        fringilla quis urna ac, viverra varius felis. Aliquam sollicitudin leo eget est placerat, in aliquam arcu
        laoreet. Ut sed lacus ultricies, luctus nisi a, rhoncus erat. Cras est quam, ullamcorper in lacus lobortis,
        tempus ultricies ante. Nunc pretium diam sed turpis condimentum, interdum fermentum lacus convallis. Nullam
        ultrices et velit eget imperdiet. Nam consequat eros at augue placerat venenatis. Fusce aliquet, felis nec
        posuere condimentum, nisl metus tempor nisl, dictum consectetur lorem elit at ex.</p>
</div>

{% endblock content %}