{% extends 'base.html' %}

{% block content %}

<!-- <form method="POST">
    {{form.hidden_tag()}}
    {{form.name.label}} {{form.name}} <br>
    {{form.personality.label}} {{form.personality}} <br>
    {{form.species.label}} {{form.species}} <br>
    {{form.birthday.label}} {{form.birthday}} <br>
    {{form.submit()}}
</form> -->

<form method="POST">
    {{form.hidden_tag()}}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.name.label(for="inputName4")}}
            {{form.name(type="text", class="form-control", id="inputName4")}}
        </div>
        <div class="form-group col-md-6">
            {{form.personality.label(for="inputPersonality4")}}
            {{form.personality(type="text", class="form-control", id="inputPersonality4")}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.species.label(for="inputSpecies4")}}
            {{form.species(type="text", class="form-control", id="inputSpecies4")}}
        </div>
        <div class="form-group col-md-6">
            {{form.birthday.label(for="inputBirthday5")}}
            {{form.birthday(type="text", class="form-control", id="inputBirthday5")}}
        </div>
    </div>
    {{form.submit(type="submit", class="btn btn-primary")}}
</form>

{% endblock content %}