{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <div class="media">
        <a href="{{url_for('users.user_turnip_posts', username=post.host.username)}}">
            <img src="{{ url_for('static', filename='profile_pics/'+post.host.profile_image) }}" class="mr-3" alt="">
        </a>
        <div class="media-body">
            <h5 class="mt-0">Island Owner: <a href="{{url_for('users.user_posts', username=post.host.username)}}">{{ post.host.username }}</a></h5>
            <h5 class="mt-0">Island Name: {{ post.island_name }}</h5>
            <h6>Published: {{ post.date.strftime('%B %d, %Y') }}</h6>
            <h6>Price on Island: {{post.turnip_price}}</h6>
            <p> {{ post.text }}</p>
            <h6>Island Code: {{post.island_code}}</h6>
        </div>
    </div>

    <br>

    {% if post.host == current_user %}

    <div>
        <a class="btn btn-primary" role="button"
            href="{{ url_for('turnip_posts.update', turnip_post_id=post.id) }}">Update</a>
        <br>
        <br>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
    </div>

    {% endif %}
</div>

<div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the post?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                <form action="{{ url_for('turnip_posts.delete_post', turnip_post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" id="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}